@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Cormorant Garamond', serif;
}
#page 
{
  height: 100vh;
  width:100%;
  padding-top: 9%;
}
#title 
{
  text-align: center;
  font-size: 60px;
  margin-bottom: 60px;
  animation: mover 1.3s infinite alternate;
}
#myName 
{
  text-align: center;
  margin-left:26%;
  margin-top: 10px;
}
#middle 
{
  text-align: center;
  margin: 0 auto;
  width:50%;
  background-color: white;
  border-radius: 1%;
  
}
#quote 
{
  margin: 30px;
  padding-top:10px;
  font-size:20px;
  font-weight: 400;

}
#quotewords 
{
  font-size: 40px;
}

#author-words 
{
  font-weight: 300;

}

#btn 
{
  margin-top:30px;
  margin-bottom:11px;
  padding: 9px;
  font-size:15px;
  font-weight: 500 !important;
  opacity: 0.8;
  transition: 0.5s;
}
#btn:hover 
{
  opacity: 1;
}
.animate 
{
  animation: fadein 2s;

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@media (max-width: 700px) {
  #quotewords
  {
    font-size: 19px;
  }
  #author-words 
  {
    font-size:19px;
  }
  #btn 
  {
    font-size: 13px;
    margin-top: 13px;
    padding: 3px;
  }
  #middle 
  {
    width:60%;
  }
}